/* 全局样式 */

html {
  font-size: 16px;
}

html,
body,
#app,
.app {
  margin: 0;
  padding: 0;
  height: 100%;
}

// 面包屑导航
.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px !important;
}

// 数据表格
.el-table {
  margin-top: 15px;
  font-size: 12px !important;
}

// 分页导航
.el-pagination {
  margin-top: 15px;
}

// 滚动条样式的类名
.scroll-bar {
  overflow: auto !important;

  &::-webkit-scrollbar {
    width: 10px;
    height: 1px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(70, 73, 77, 0.8);

    &:hover {
      background-color: #56585c;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #2b2e34;
  }
}
